.back{
    background-color: rgb(red, green, blue);
}

body{
    margin-top: 20%;
    margin-left: 40%;
}

.INC{
    -webkit-appearance: none;
    display: inline-block;
    width: 255px;
    height: 0.5em;
    border-radius: 5px;
}

#Red {
    background-color: red;
}

#Blue {
    background-color: blue;
}

#Green {
    background-color: green;
}

.cad{
   width: 40rem;
    height: 20rem;
   background-color: black; 
}

